
        /* Reset default styles */
        body, h1, h2, p {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /* Body styling */
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        /* Header styling */
        .header {
            position: relative;
            width: 100%;
            text-align: center;
        }
        .header-image {
            width: 100%;
            height: 80%;
            object-fit: cover;
        }
        .logo {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 100px;
            height: 100px;
        }
        .logo img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            border: 2px solid #000;
        }
        .title {
            background-color: black;
            color: rgba(255, 217, 0, 0.993);
            padding: 10px;
            font-size: 2.5rem;
            margin-top: -730px;
        }
        /* Login form container */
        .login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 140px - 70px); /* Adjust for header height */
            padding: 20px;
        }
        .login-box {
            background: rgba(17, 0, 0, 0.7);
            border: 2px solid #ddd;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            padding: 20px 40px;
            width: 400px;
            text-align: center;
            
        }
        .login-box h2 {
            margin-bottom: 20px;
            font-size: 1.8rem;
            color: #f8f8f8;
        }
        label {
            display: block;
            text-align: left;
            font-size: 1rem;
            margin-bottom: 8px;
            color: #fdfafa;
        }
        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }
        input:focus {
            border-color: gold;
            outline: none;
            box-shadow: 0 0 5px gold;
        }
        .btn {
            background-color: black;
            color: gold;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            transition: background 0.3s;
        }
        .btn:hover {
            background-color: gold;
            color: black;
        }